
.title--size-xl

	typography = typeof( $typography ) == 'object' ? $typography : {}
	media = typeof( $media ) == 'object' ? $media : {}
	breakpoints = typeof( media.breakpoints ) == 'object' ? media.breakpoints : { xs: 1, sm: 544, md: 768, lg: 992, xl: 1150 }
	sizes = keys( breakpoints )
	start = typeof( typography.size_xl ) == 'unit' ? typography.size_xl : 44
	num = length( sizes )
	end = 24

	for size, i in sizes
	
		step = ( ( start - end ) / num ) * i
		val = (i + 1) == num ? start : end + step

		if i > 0
			+mq( size )
				font-size ss( val )
		else
			font-size ss( val )
