
/*!*
 * Title
 */

.title
	display block

	typography = typeof( $typography ) == 'object' ? $typography : {}

	if typeof( typography.title ) == 'string'
		font-family: typography.title

	font-size 1em
	font-weight 700
	line-height 1.2
	margin 0
