
/*!*
 * Select
 */

.select

	display block
	width 100%
	max-width 100%
	height auto
	text-transform none
	outline none
	margin 0
	border 0

	background-color transparent
	background-image b64('img/select.svg')
	background-repeat no-repeat
	background-position right center

	padding 0 ss( 25, 1px ) 0 0
	border-radius 0

	text-indent 0.01px
	text-overflow ''
	appearance none

	cursor pointer

	&::-ms-expand
		display none

	optgroup
		font-weight 700
