-
	BEMPUG.beforeParse[ 'ymap' ] = function( block ) {

		let map = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

		if ( ! global.options.requireLibs && page.scripts.indexOf( map ) === -1 ) page.scripts.push( map );

	};