
.section
	display block
	position relative

	padding-top 35px
	padding-bottom @padding-top

	+mq('sm')
		padding-top 40px
		padding-bottom @padding-top

	+mq('md')
		padding-top 50px
		padding-bottom @padding-top

	+mq('lg')
		padding-top 80px
		padding-bottom @padding-top

	+mq('xl')
		padding-top 100px
		padding-bottom @padding-top
