mixin checkbox( obj )

	- const attrs = ( !obj || obj.constructor !== Object ) ? {} : obj;
	- attrs.class = ( attrs.class ? attrs.class + ' ' : '' ) + ( attributes.class || '' );
	- attributes.class = false;

	.checkbox&attributes(attrs)
		label.checkbox__label
			input.checkbox__input&attributes(attributes)
			span.checkbox__icon
			if block
				span.checkbox__text
					block
