
.checkbox__icon

	active = $c_success

	position relative
	width 20px
	height @width
	flex 0 0 @width
	max-width @width
	overflow hidden

	background #fff
	border solid 1px $c_border
	border-radius 2px
	transition border .3s

	.checkbox__input:focus ~ &
		box-shadow 0 0 3px $c_bright

	.checkbox__input:checked ~ &
		border-color active

	.checkbox__input:checked:focus ~ &
		box-shadow 0 0 3px active


	// Radio

	.checkbox__input[type="radio"] ~ &
		border-radius 50%

		&:after
			content ''
			abs top left right bottom
			margin 4px
			background-color active
			transform scale(2)
			transition transform .3s, opacity .3s
			border-radius 50%
			opacity 0

	.checkbox__input[type="radio"]:checked ~ &

		&:after
			transform scale(1)
			opacity 1


	// Checkbox

	.checkbox__input[type="checkbox"] ~ &

		&:after
			content ''
			abs top 50% left 50%
			width 12px
			height 7px
			border solid active
			border-width 0 0 2px 2px
			margin ((@width / 2) * -1px) 0 0 ((@width / 2) * -1px)
			transform rotate(-45deg) translate(5px,1px)
			transition transform .3s, opacity .3s
			opacity 0

	.checkbox__input[type="checkbox"]:checked ~ &

		&:after
			transform rotate(-45deg) translate(0,0)
			opacity 1

