
.checkbox__text
	
	active = #15a515

	display block
	flex 0 1 auto
	align-self center
	line-height 1.15
	padding 0 0 0 ss(8)
	transition color .3s
	cursor pointer

	.checkbox__input:checked ~ &
		color active

	.checkbox__input[disabled] ~ &
		opacity .6
		cursor not-allowed
