
.search__input

	font-family inherit
	font-size ss(13)

	height ss(38)
	padding ss(4) ss(44) ss(4) ss(15)

	border 1px solid $c_border
	border-radius 2px
	transition border .4s
	
	&::placeholder
		font-family inherit
		color #bbb
		font-size @font-size
		font-style normal
		font-weight 400
		text-overflow ellipsis
		opacity 1
	
	&:focus
		border-color $c_bright