
.select--default

	form = typeof( $form ) == 'object' ? $form : {}
	height = typeof( form.height ) == 'unit' ? form.height : 44
	padding = typeof( form.padding ) == 'unit' ? form.padding : 8

	height ss( height )
	padding 0 ss( 26, 1px ) 0 ss( padding * 2 )

	background-image b64('img/select.svg')
	background-repeat no-repeat
	background-position 96% 50%

	text-indent 0.01px
	text-overflow ''
	appearance none

	&::-ms-expand
		display none
		
	cursor pointer
	
	{$form_field}
