
/**
 * Global variables
 */


// Layout

$layout = 1170


// Colors

$c_bg = #f9f9f9
$c_border = #ddd

$c_link = #0645ad
$c_text = #252525

$c_dim = alpha($c_text,70%)
$c_bright = #c53e1c

$c_success = #2db361
$c_error = #ef6941


// Typography

$f_family = 'Roboto'
$f_size = 16px
$f_weight = 400
$f_height = 1.6


// Grid

$grid = {

	flex: true,
	columns: 12,
	gutter: 30,
	gap: 30

}


// Media

$media = {

	unit: 1px,

	breakpoints: {

		xs: 1,
		sm: 544,
		md: 768,
		lg: 992,
		xl: 1150

	}

}


/**
 * Mixins
 */


// Add to body for fix safari bug

fix_safari_sibling_selectors_bug()

	-webkit-animation bugfix infinite 1s

	@-webkit-keyframes bugfix
		from
			padding 0
		to
			padding 0


// Base64

b64(img = '')
	embedurl( img )


// Retina

retina()
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		{block}


// Media

mq( min = false, max = false, custom = false )

	media = typeof( $media ) == 'object' ? $media : {}
	breakpoints = typeof( media.breakpoints ) == 'object' ? media.breakpoints : { xs: 2, sm: 544, md: 768, lg: 992, xl: 1150 }
	unit = typeof( media.unit ) == 'unit' ? media.unit : 1px
	sizes = keys( breakpoints )
	query = ''

	if min and min in sizes

		min = breakpoints[min]

	if min and typeof( min ) == 'unit'
		
		query += ( query == '' ? '' : ' and ' ) + '(min-width: %s)' % floor( min * unit, 1 )

	if max and max in sizes

		max = breakpoints[max] - 1

	if max and typeof( max ) == 'unit'
		
		query += ( query == '' ? '' : ' and ' ) + '(max-width: %s)' % floor( max * unit, 1 )

	if custom and typeof( custom ) == 'string'

		query += ( query == '' ? '' : ' and ' ) + custom

	if query
		@media query
			{block}


// Position

-pos( type, args )
	i = 0
	position: unquote( type )
	for j in (1..8)
		if length( args ) > i
			if args[i] == auto
				return
			else
				{args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : ( args[i + 1] == auto ? auto : 0 )
		i += 1

abs()
	-pos( 'absolute', arguments )

fix()
	-pos( 'fixed', arguments )

rel()
	-pos( 'relative', arguments )

