
//- Data

block data

//- Include

include map

//- Microdata

- var schema = page.schema || false


//- Layout

if !page
	block content
else
	doctype
	html(lang='ru')
		head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='HandheldFriendly' content='true')
			meta(name='MobileOptimized' content='width')
			meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
			meta(name='format-detection' content='telephone=no')
			meta(name='format-detection' content='address=no')
			meta(name='apple-mobile-web-app-capable' content='yes')
			meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

			title=( page.title || 'Title' )
			meta(name='description' content=( page.description || 'Description' ))

			// BEMGO:styles 

			// BEMGO:favicons 

		body(itemscope=schema, itemtype=schema ? 'http://schema.org/WebPage' : false)

			.app&attributes(page.attrs)

				// BEMGO:symbol 

				block content

			// BEMGO:scripts 

