
@import './fonts/*'

/*!*
 * Page
 */

.page

	typography = typeof( $typography ) == 'object' ? $typography : {}
	color = typeof( $color ) == 'object' ? $color : {}

	display block
	width 100%
	height 100%
	margin 0
	padding 0

	font-family: ( typeof( typography.text ) == 'string' ? typography.text unquote( ',' ) : unquote( '' ) ) -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
	font-size: ss( typeof( typography.size ) == 'unit' ? typography.size : 15 )
	color: typeof( color.text ) == 'rgba' ? color.text : #222
	
	line-height 1
	font-weight 400

	-webkit-font-smoothing antialiased
	font-smoothing antialiased

	background-color: typeof( color.bg ) == 'rgba' ? color.bg : #fff
