
.page__sep
	
	margin-top ss(30)
	margin-bottom @margin-top
	
	+mq('sm')
		margin-top ss(35)
		margin-bottom @margin-top
		
	+mq('md')
		margin-top ss(40)
		margin-bottom @margin-top
	
	+mq('lg')
		margin-top ss(50)
		margin-bottom @margin-top