
.page__layout

	layout = typeof( $layout ) == 'unit' ? $layout : 1170
	grid = typeof( $grid ) == 'object' ? $grid : {}
	gutter = typeof( grid.gutter ) == 'unit' ? grid.gutter : 30

	position relative
	max-width ss( layout )
	margin 0 auto

	if gutter > 0
		&:not(.grid)
			padding-left ss( ( gutter / 2 ) + 5 )
			padding-right ss( ( gutter / 2 ) + 5 )

			+mq( layout + gutter )
				padding-left ss( gutter / 2 )
				padding-right ss( gutter / 2 )
