
.list__item

	typography = typeof( $typography ) == 'object' ? $typography : {}

	font-size 1em
	line-height: typeof( typography.line ) == 'unit' ? typography.line : 1.4
	
	if hyphens in typography and typography.hyphens is true
		hyphens auto
		
	margin-top ss(7)
		
	&:first-child:first-child
		margin-top 0
