
.list--disc
	
	.list__item
		position relative
		padding-left 1.5em

		&:before
			content ''
			abs top left
			width ss(6)
			height @width
			background-color $c_text
			border-radius 50%
			margin .6em 0 0 0
