
/*!*
 * Textarea
 */

.textarea

	form = typeof( $form ) == 'object' ? $form : {}
	padding = typeof( form.padding ) == 'unit' ? form.padding : 8

	display block
	width 100%
	max-width 100%
	height auto
	min-height ss(120)
	padding ss( padding * 2 )
	overflow auto
	outline none
	margin 0
	border 0
	resize vertical
	vertical-align top
	line-height 1.15
