
.button--default

	form = typeof( $form ) == 'object' ? $form : {}
	height = typeof( form.height ) == 'unit' ? form.height : 44

	font-family inherit
	font-size ss(13)
	letter-spacing .3px
	text-align center
	font-weight 400
	text-transform uppercase
		
	background-color #718794
	color #fff

	padding 0 ss(35)
	height ss( height )

	border-radius 3px
	transition background .4s, color .4s
	
	&:hover
		background-color darken(@background-color,15%)
