
/*!*
 * Button
 */

.button
	max-width 100%
	display inline-block
	vertical-align top

	font-family inherit
	font-size 14px
	font-weight 400
	letter-spacing .03em
	text-transform uppercase
	text-decoration none
	text-align center
		
	background-color #718794
	color #fff

	padding 0 2.25em
	height 50px

	border 0
	border-radius 3px
	transition background .4s, color .4s
	
	&:hover
		text-decoration none
		background-color darken(@background-color,15%)
