-
	BEMPUG.beforeParse[ 'input' ] = function( block ) {

		let mask = block.attributes[ 'data-mask' ] ? 'jquery.mask.min.js' : false;

		if ( mask ) page.jquery = true;

		if ( mask && ! global.options.requireLibs && page.scripts.indexOf( mask ) === -1 ) page.scripts.push( mask );

		if ( ! block.isElement && typeof block.data.t === 'undefined' ) block.data.t = 'input';

	};