
/*!*
 * Logo
 */

.logo
	display inline-block
	
	a&
		border 0
		outline 0
		opacity 1
		text-decoration none
		transition opacity .4s
		backface-visibility hidden
		background-color transparent

		&:hover
			opacity .8