
.logo
	display inline-block
	vertical-align top
	text-decoration none
	background-color transparent
	border 0

	a&
		opacity 1
		transition opacity .4s
		backface-visibility hidden

		&:hover
			opacity .8
