
/*!*
 * Logo
 */

.logo
	display inline-block
	vertical-align top
	border 0
	outline 0
	text-decoration none
	background-color transparent

	a&
		opacity 1
		transition opacity .4s
		backface-visibility hidden

		&:hover
			opacity .8
