
/*!*
 * Grid
 */

.grid

	layout = typeof( $layout ) == 'unit' ? $layout : 1170
	grid = typeof( $grid ) == 'object' ? $grid : {}
	gutter = typeof( grid.gutter ) == 'unit' ? grid.gutter : 30
	columns = typeof( grid.columns ) == 'unit' ? grid.columns : 12
	gap = typeof( grid.gap ) == 'unit' ? grid.gap : 30
	flexbox = flex in grid and grid.flex is true ? true : false
	media = typeof( $media ) == 'object' ? $media : {}
	breakpoints = typeof( media.breakpoints ) == 'object' ? media.breakpoints : { xs: 1, sm: 544, md: 768, lg: 992, xl: 1150 }
	sizes = keys( breakpoints )


	if gutter > 0
		padding-left ss( ( gutter / 2 ) + 5 )
		padding-right ss( ( gutter / 2 ) + 5 )

		+mq( layout + gutter )
			padding-left ss( gutter / 2 )
			padding-right ss( gutter / 2 )


	// Grid row

	&__row

		if gutter > 0
			margin-left (-( ss( gutter / 2 ) ) )
			margin-right (-( ss( gutter / 2 ) ) )

		if flexbox
			display flex
			flex-flow row wrap

		else

			&:after
				content ''
				display table
				clear both

		for point, i in sizes

			+mq( point )
			
				if flexbox

					&--{point}-reverse
						flex-direction row-reverse

					&--{point}-align-left
						justify-content flex-start

					&--{point}-align-right
						justify-content flex-end

					&--{point}-align-center
						justify-content center

					&--{point}-align-between
						justify-content space-between

					&--{point}-align-around
						justify-content space-around

					&--{point}-align-top
						align-items flex-start
						
					&--{point}-align-middle
						align-items center
					
					&--{point}-align-bottom
						align-items flex-end


	// Grid col

	&__col
		position relative
		min-height 1px
		
		if gutter > 0
			padding-left ss( gutter / 2 )
			padding-right ss( gutter / 2 )
			
			&--no-gutter
				padding-left 0
				padding-right 0

		if flexbox
			flex-grow 1
			flex-basis 0
			max-width 100%

		&--align-left
			text-align left

		&--align-right
			text-align right

		&--align-center
			text-align center

		for point, i in sizes

			+mq( point )
			
				if gutter > 0

					&--{point}-no-gutter
						padding-left 0
						padding-right 0

				&--{point}-align-left
					text-align left

				&--{point}-align-right
					text-align right

				&--{point}-align-center
					text-align center

				if flexbox

					&--{point}-first
						order -1

					&--{point}-last
						order 1

					&--{point}-align-top
						align-self flex-start

					&--{point}-align-middle
						align-self center

					&--{point}-align-bottom
						align-self flex-end

					&--{point}-pull-right
						margin-left auto

					&--{point}-pull-left
						margin-right auto

					&--{point}-no-pull
						margin-left 0
						margin-right 0

				for i in (0..columns)
					
					pct = (100 / columns) * i * 1%

					&--{point}-{i}

						if i > 0

							display block

							if flexbox
								flex 0 0 pct
								max-width pct
							else
								float left
								width pct
						else

							display none

					&--{point}-offset-{i}
						margin-left pct
						
					if not flexbox

						&--{point}-pull-{i}
							right i > 0 ? pct : auto

						&--{point}-push-{i}
							left i > 0 ? pct : auto


	// Grid gap
		
	&__gap
		margin-top ss( gap )
		
	for point, i in sizes

		+mq( point )
		
			&__gap-{point}
				margin-top ss( gap )

			&__del-gap-{point}
				margin-top 0

