
/*!*
 * Link
 */

.link

	border 0
	outline 0
	color $c_link
	text-decoration underline
	background-color transparent
	-webkit-text-decoration-skip objects
	transition color .3s

	&:hover
		cursor pointer
		color $c_link_hover
		text-decoration none
	
	if typeof( $c_link_visited ) == 'rgba'
		&:visited
			color $c_link_visited
