
.link--lightbox
	display block
	position relative
	text-decoration none
	overflow hidden
	
	img
		width 100%
	
	&:after
		content ''
		abs top left right bottom
		background alpha(#000,50%) url('img/plus.svg') no-repeat center
		opacity 0
		z-index 1
		transition opacity .4s
		
	&:hover
		&:after
			opacity 1


@import '../../plugins/lightbox/lightbox'
