-
	BEMPUG.beforeParse[ 'link' ] = function( block ) {

		let href = ( typeof block.attributes.href === 'string' ) ? block.attributes.href : '';

		block.data.b = Array.isArray( block.data.b ) ? block.data.b : [block.data.b];

		if ( typeof block.data.t === 'undefined' ) block.data.t = block.attributes.href ? 'a' : 'span';

		if (
			! global.options.requireLibs
			&& block.data.b.indexOf( 'lightbox' ) !== -1 
			&& page.scripts.indexOf( 'jquery.lightbox.min.js' ) === -1 

		) page.scripts.push( 'jquery.lightbox.min.js' );


		if ( BEMPUG.isExternal( href ) && typeof block.attributes.target === 'undefined' )
			return block.attributes.target = '_blank';

		href = href.replace( /&amp;|&/g, BEMPUG.getCurrentBlock() );

		if ( /\.html+$/.test( href ) )
			return block.attributes.href = './' + ( href.charAt(0) === '/' ? href.slice(1) : href );

		if ( href.charAt(0) === '/' )
			return block.attributes.href = global.paths.static + '/' + href.slice(1);

		if ( href ) block.attributes.href = href;

	};