-
	BEMPUG.beforeParse[ 'img' ] = function( block ) {

		let src = block.attributes.src;

		if( typeof block.data.t === 'undefined' ) block.data.t = 'img';

		if( typeof block.attributes.alt === 'undefined' ) block.attributes.alt = '';

		if ( BEMPUG.isExternal( src ) ) return;

		if( typeof src === 'undefined' ) {
			block.attributes.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==';
			return;
		}

		src = src.charAt(0) === '/' ? src.slice(1) : src;
		src = src.replace( /&amp;|&/g, BEMPUG.getCurrentBlock() );

		if ( block.attributes.retina ) {

			delete block.attributes.retina;

			let array = src.split( '.' ),
				retina = array[0] + '@2x.' + array.slice( 1 ).join( '.' ) + ' 2x';

			block.attributes.srcset = global.paths.static + '/' + retina;

		}

		block.attributes.src = global.paths.static + '/' + src;

	};

	BEMPUG.afterParse[ 'img' ] = function( block ) {
		block.classes = block.classes.filter(e => e !== 'img')
	};