
.form__field

	form = typeof( $form ) == 'object' ? $form : {}
	margin = typeof( form.margin ) == 'unit' ? form.margin : 20

	if ( margin > 20 )

		margin-top ss( 20 )

		if ( ( margin / 2 ) > 20 )
			+mq('sm')
				margin-top ss( margin / 2 )

		+mq('md')
			margin-top ss( margin )

	else

		margin-top ss( margin )

	&:first-child
		margin-top 0
