
.form__col

	form = typeof( $form ) == 'object' ? $form : {}
	margin = typeof( form.margin ) == 'unit' ? form.margin : 16

	position relative
	min-height 1px

	flex-grow 1
	flex-basis 0
	max-width 100%
	
	padding 0 0 0 ss( margin )
