
.form__row

	form = typeof( $form ) == 'object' ? $form : {}
	margin = typeof( form.margin ) == 'unit' ? form.margin : 16

	display flex
	margin-left (-(ss( margin )))
	
	&--inline
		display block
		margin 0
		
		.form__col
			padding 0
			
		.form__col + .form__col
			margin-top ss( margin )