
.form__col

	form = typeof( $form ) == 'object' ? $form : {}
	gutter = typeof( form.gutter ) == 'unit' ? form.gutter : 20
	margin = typeof( form.margin ) == 'unit' ? form.margin : 20

	position relative
	min-height 1px

	flex-grow 1
	flex-basis 0
	max-width 100%
	
	padding 0 0 0 ss( gutter )

	.form__row--inline &
		padding 0

		if ( margin > 20 )

			margin-top ss( 20 )

			if ( ( margin / 2 ) > 20 )
				+mq('sm')
					margin-top ss( margin / 2 )

			+mq('md')
				margin-top ss( margin )

		else

			margin-top ss( margin )


		&:first-child
		&--label + ^[0]
			margin-top 0
