
.form__gap

	form = typeof( $form ) == 'object' ? $form : {}
	gap = typeof( form.gap ) == 'unit' ? form.gap : 40

	if ( gap > 30 )

		margin-top ss( 30 )

		if ( ( gap / 2 ) > 30 )
			+mq('sm')
				margin-top ss( gap / 2 )

		+mq('md')
			margin-top ss( gap )

	else

		margin-top ss( gap )