extends ../blocks/layout

block data
	-
		const page = {

			path: 'index',
			title: '',
			description: '',
			styles: [],
			scripts: []

		};

block content


	= nnn
	// Header 

	+header


	= nnn
	// Content 

	+content


	= nnn
	// Footer 

	+footer

