extends ../blocks/layout

block data
	-
		const page = {

			path: 'index',
			title: 'Title',
			description: 'Description',
			styles: [],
			scripts: [],
			bem: {}

		};

block content


	= nnn
	// Header 
	+header

