
.list_disc

	.list__item
		position relative
		padding-left 1.5em

		&:before
			content ''
			abs top left
			width 6px
			height @width
			background-color currentColor
			border-radius 50%
			margin .35em 0 0 0
