-
	BEMPUG.beforeParse[ 'list' ] = function( block ) {

		if ( ! block.isElement && typeof block.data.t === 'undefined' )
			block.data.t = ( block.data.m && block.data.m.match( /decimal/ ) ) ? 'ol' : 'ul';

	};