mixin social( bem, data )

	+b( 'social', bem )&attributes(attributes)

		if Array.isArray( data ) && data.length > 0

			each item in data
				+b( 'link', {e: `&|${ item.icon ? item.icon : '' }`, p: 0} )(href=item.href)

					if item.icon
						+b( 'icon', {t: 'svg', e: '&'} )(viewBox='0 0 16 16')
							use(xlink:href=`#social__${item.icon}`)

					else
						if item.name
							+e( 'name' )= item.name

		block
