
.social__link_instagram
	background-color #661daf
	//background linear-gradient( #661daf, transparent), linear-gradient(200deg, #d047d1, #ff0000,#ffff00)
	
	&:hover
		background-color darken(@background-color, 10%)
