
.slick__dots

	color_default = $c_border
	color_active = $c_bright

	display block
	list-style none
	padding 0
	margin 0
	text-align center
	margin-top ss(35)
	
	button
		display none
		
	li
		display inline-block
		width ss(16)
		height @width
		margin ss(5)
		border solid 4px transparent
		box-shadow 0 0 0 1px color_default, inset 0 0 0 10px color_default
		border-radius 50%
		transition box-shadow .4s
		
		&:hover
			cursor pointer
			box-shadow 0 0 0 1px color_default, inset 0 0 0 10px color_active
		
		&.slick-active
			pointer-events none
			box-shadow 0 0 0 1px color_active, inset 0 0 0 10px color_active

