
/*!*
 * Field
 */

.field

	field = typeof( $field ) == 'object' ? $field : {}
	height = typeof( field.height ) == 'unit' ? field.height : 44
	padding = typeof( field.padding ) == 'unit' ? field.padding : 8

	font-family inherit
	font-size ss(14)
	color #333
	font-style normal
	font-weight 400

	height ss( height )
	padding 0 ss( padding * 2 )

	background-color #fff
	border solid 1px $c_border
	border-radius 3px

	transition background .2s ease-in, border .2s ease-in, box-shadow .2s ease-in
	

	&.select
		padding-right ss(25,1px)


	&.textarea
		height auto
		min-height ss(120)
		padding ss( padding * 1.5 ) ss( padding * 2 )


	&:focus
		border-color $c_bright


	&::placeholder
		font-family inherit
		color alpha( @color, 50% )
		font-size @font-size
		font-style normal
		font-weight 400
		text-overflow ellipsis
		opacity 1


	&[disabled]
		opacity .6
		cursor not-allowed

