
.field__el
	display block
	width 100%
	max-width 100%
	outline none

	font-family inherit
	font-size 16px
	color $c_text
	font-style normal
	font-weight 400
	text-transform none
	line-height 1

	height 50px
	padding 0 18px

	background-color #fff
	border solid 1px $c_border
	border-radius 2px
	box-shadow 1px 1px 3px alpha($c_text,10%)
	transition border .2s ease-in, box-shadow .2s ease-in

	&:focus
		border-color $c_bright
		box-shadow 1px 1px 3px alpha(@border-color,30%)


	input&
	textarea&

		&::placeholder
			font-family inherit
			color alpha($c_dim,50%)
			font-size @font-size
			font-style normal
			font-weight 400
			text-overflow ellipsis
			opacity 1


	select&
		padding-right 25px
		background @background-color url('data:image/svg+xml,%3Csvg width="24" height="14" viewBox="0 0 24 14" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%23ddd" d="M8 8l4 6 4-6H8zM16 6l-4-6-4 6h8z"/%3E%3C/svg%3E') no-repeat right center
		text-indent 0.01px
		text-overflow ''
		appearance none

		optgroup
			font-weight 700

		&::-ms-expand
			display none


	textarea&
		height auto
		min-height 120px
		padding-top 12px
		padding-bottom @padding-top
		resize vertical
		overflow-x hidden
		overflow-y auto
		line-height 1.2

