
.field

	font-family inherit
	font-size ss(14)
	color #333
	font-style normal
	font-weight 400
	
	background-color #fff
	border solid 1px $c_border
	border-radius 3px
	
	transition background .2s ease-in, border .2s ease-in, box-shadow .2s ease-in


	&:focus
		border-color $c_bright


	&::placeholder
		font-family inherit
		color alpha( @color, 50% )
		font-size @font-size
		font-style normal
		font-weight 400
		text-overflow ellipsis
		opacity 1

	&[disabled]
		opacity .6
		cursor not-allowed
