
/*!*
 * Button
 */

.button
	max-width 100%
	display inline-block
	text-decoration none
	text-transform none
	overflow visible
	outline none
	padding 0
	margin 0
	border 0
	cursor pointer
	background none

	button&
		-webkit-appearance button
	
		&::-moz-focus-inner
			border-style none
			padding 0

		&:-moz-focusring
			outline 1px dotted ButtonText
